<div>
    <h1><%= gettext "Welcome to %{name}", name: "Phoenix!" %></h1>
    <p class="lead">A productive web framework that does not compromise speed and maintainability.</p>
    <a class="button" href="/app">Show Me React/Redux App</a>
</div>
